.beer-icon {
  size: 8;
  color: green;
}

.analysis-result-root {
  width: 100vw;
  flex: 7;
  /* background-color: #333; */
  color: #ffd65c;
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
}

.age-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gender-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.analysis-result-top {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  justify-content: center;
  align-items: center;
}

.retry-div {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 0.7rem;

  color: #ccc;
}
.retry-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.24rem 0.6rem;
  background-color: #ffd65c;
  border-radius: 0.6rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #333;
  font-size: 0.8rem;
}
@media screen and (max-width: 1000px) {
  .analysis-result-root {
    flex-direction: column;
  }
}
