.beer-icon {
  size: 8;
  color: green;
}

.analysis-result-root {
  width: 100vw;
  height: 100vh;
  flex: 7;
  /* background-color: #333; */
  /* color: #ffd65c; */
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  color: rgb(102, 101, 101);
  background-color: #f8edeb;
}

.predictions-title {
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: rgba(255, 105, 180, 0.39);
  color: #ff1493;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.predictions {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.age-container {
  color: deepskyblue;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gender-container {
  color: coral;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.emotion-container {
  color: deeppink;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.age-float,
.gender-float,
.emotion-float {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
}

.age-float {
  background-color: rgba(0, 191, 255, 0.205);
}
.gender-float {
  background-color: rgba(255, 127, 80, 0.219);
}
.emotion-float {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(255, 20, 147, 1);
  -moz-box-shadow: 0px 0px 20px 1px rgba(255, 20, 147, 1);
  box-shadow: 0px 0px 60px 1px rgba(255, 20, 147, 1);
}

.age,
.gender {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0.5rem;
}

.description {
  margin-top: 2rem;
}

.description-for {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.analysis-result-top {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* background-color: #333; */
  justify-content: center;
  align-items: center;
  color: rgb(102, 101, 101);
  background-color: #f8edeb;
}

.retry-div {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  /* color: #ccc; */
  color: rgb(102, 101, 101);
  background-color: #f8edeb;
}
.retry-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.24rem 1.4rem;
  background-color: #ffd65c;
  border-radius: 0.6rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #333;
  font-size: 0.8rem;

  transition: background-color 400ms;

  background-color: #ffd65c;
}
.retry-button:hover {
  cursor: pointer;
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .analysis-result-root {
    flex-direction: column;
  }
}
