.video-component {
  /* height: 24rem; */
  height: 90vh;
  border: #ffd65c;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 1rem;
}

.analysing-screen-root-div {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  background-color: #333;
  align-items: center;
}
.info-text {
  /* font-family: Montserrat; */
  font-family: Arial, Helvetica, sans-serif;
  color: #ffd65c;
  font-size: 2rem;
}

.video-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  height: 100%;
  align-items: center;
  width: 30vw;
}
.dev-view {
  border: #ffd65c solid 0.4rem;
}

@media screen and (max-width: 1000px) {
  .analysing-screen-root-div {
    flex-direction: column;
    gap: 2rem;
  }
  .video-component {
    width: 100vw;
    border-style: none;
  }
  .video-info-container {
    width: 100vw;
  }

  .info-text {
    font-size: 1.2rem;
  }
}
