.ViewMorePopup {
  color: rgb(102, 101, 101);
  background-color: #f8edeb;
}

.bg-pink {
  background-color: #fcd5ce;
}

.bg-green {
  background-color: #d8e2dc;
}

.bg-light-green {
  background-color: #e8e8e4;
}