.App {
  text-align: center;
  /* position: absolute; */
  /* height: 100%; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  /* overflow-x: hidden; */
  /* background-color: #e4e4e2; */
}

.dev-view {
  border: #ffd65c solid 0.4rem;
}
